<div class="row">
	<ion-list>
		<label> Titre </label>
		<input [(ngModel)]="noteEdit.title" type="text" class="form-control">
	</ion-list>
	<ion-list>
		<label> Contenu </label>
		<input [(ngModel)]="noteEdit.content" type="text" class="form-control">
	</ion-list>
	<ion-list>
		<ion-label> Catégorie </ion-label>
		<select  [(ngModel)]="noteEdit.category"> 
			<option *ngFor="let category of categories"  [ngValue]="category">{{category.label}}</option>
		</select>
	</ion-list>
	
	<ion-list>
	<div>
				<button ion-button (click)="SaveNote(noteEdit)"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; sauver</button>
	</div>
	
	</ion-list>

</div>