
 <ion-list>
	<ion-item>
		<ion-label></ion-label>
		<ion-input type="text" [(ngModel)]="noteEdit.title" > </ion-input>
	</ion-item>

	<ion-item>
		<ion-label></ion-label>
		<ion-input type="text" [(ngModel)]="noteEdit.content" ></ion-input>
	</ion-item>
	<ion-item>
		<ion-label> Catégorie </ion-label>
		<ion-select  [(ngModel)]="noteEdit.category"> 
			<ion-option *ngFor="let category of categories"  [value]="category">{{category.label}}</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>	
				<button ion-button (click)="SaveNote(noteEdit)"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; sauver</button>
	</ion-item>
</ion-list>
