	<ion-card>
		<ion-item>
		<ion-card-header>
			<h1>{{note.title}} <small>{{note.category.label}}</small></h1>
		</ion-card-header>
		<ion-card-content>{{note.content}}</ion-card-content>
		<button ion-button (click)="modifying=true" *ngIf="!modifying">Modifier</button>
		<em>{{note.date}}</em>
		</ion-item>




			<!--<button class="btn btn-danger"(click)="DelNote(OneNote)">Supprimer</button>-->


     <!-- dans cette partie on on appel le note editor si on veux edite un texte. on envoie la note dans variable noteEdit-->  
    <div *ngIf="modifying">   
    <noteeditor [noteEdit]="note" [categories] = "categories" (closeModify)="closeModify()"></noteeditor>
	</div>
	</ion-card>